.movies-list-flex {
    display: flex;
    flex-direction: column;
}

.movie{
    margin: 0px 0px 8px 0px;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    border-top: 1px solid rgba(34,36,38,.15);
}

.movie-img{
    float: left;
}

.movie-content{
    float: left;
    margin-left: 10px;
}